Source: usbavrlab
Package: usbavrlab
Version: VERSION
Section: office
Priority: optional
Maintainer: Christian Ulrich <christian@ullihome.de>
Architecture: ARCH
Depends: libgtk1.2
Description: A Tool to manage USB AVR Lab.
  
